@charset "utf-8";
@import "normalize";

body {
  background: #ECC561;
  text-align: center;
  font-family: "Droid Serif", serif;
  font-size: 1em;
}

h1 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

.welcome {
  max-width: 450px;
}