@charset "utf-8";
@import "normalize";

body {
  text-align: center;
  font-family: "Droid Serif", serif;
  font-size: 1em;
}

h1 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

.header {
  background-color: white;
  padding: 2em;
}

.header__logo {
  width: 200px;
  display: inline-block;
}

.content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: calc(100vh - 85px)
}

.content {
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
}

.responsive__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}