@charset "utf-8";
@import '_normalize';
@import '_colors';

body {
  text-align: center;
  font-family: "Droid Serif", serif;
  font-size: 1em;
  background-size: cover;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-attachment: fixed
}

a {
  text-decoration: none;
  color: $color__text--light;

  &:hover {
    color: darken($color__text--light, 40)
  }
}

img {
  max-width: 100%;
  display: inline-block;
}

.text--center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.section__headline {
  color: $color__text--light;
}

.section__subheadline {
  color: $color__text--grey;
  font-family: "Droid Serif", serif;
}

.site-header {
  background-color: white;
  padding: .5rem 1rem;
}

@media (min-width: 48rem) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero__headline {
  font-size: 1.5rem;
  color: $color__text--light;
  font-family: "Droid Serif", serif;
  line-height: 1.4;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .hero__headline {
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.site-header__logo {
  width: 10rem;
  display: inline-block;
}

.site-header__nav {

}

.site-header__nav-item {
  text-decoration: none;
  color: $color__text--dark;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.site-header__nav-item-active {
  text-decoration: line-through;
}

.site-header__icon {
  display: none;
}

@media (min-width: 48rem) {
  .site-header__icon {
    display: inline-block;
    width: 10rem;
    text-align: right;
  }
}

.page-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .page-content {
    max-width: 690px;
    margin: 3rem auto 0;
  }
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.responsive-video__hero {
  margin-bottom: 3rem;
}

.social {
  padding: 1rem;
}

.social-icon {
  display: inline-block;
}

.social-icon__link {
  background: $color__text--light;
  position: relative;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  margin-left: 0.5rem;
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s linear;
}

.social-icon svg {
  height: 24px;
  width: 24px;
}

.social-icon__link:hover {
  opacity: .6;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@import "grid";
@import "instagram";
@import "content-box";

.section__headline--link {
  text-decoration: none;
  color: $color__text--light
}

@import "pages/events";
@import "pages/about";


.btn {
  padding: .4rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all .2s linear;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.btn__cta {
  color: $color__text--light;
  border: 2px solid $color__text--light;

  &:hover {
    color: darken($color__text--light, 20);
    border: 2px solid darken($color__text--light, 20);
  }
}

.btn__hero {
  margin: 0 auto;
}
