---
title: Luc von Mensing
description: Sechs Jungs, deren Charaktere und musikalischen Einflüsse nicht unterschiedlicher sein könnten, formen den einzigartigen Luc von Mensing Sound.
---

<h1 class="hero__headline">Sechs Jungs, deren Charaktere und musikalischen Einflüsse nicht unterschiedlicher sein könnten, formen den einzigartigen Luc von Mensing Sound.</h1>

<div class="content-box">
  <div class="content-box__meta">
    <div class="content-box__title events__title">Video</div>
    <div class="content-box__info events__type"><a href="mailto:lucvonmensing@gmx.de">Luc von Mensing / Kurz nach</a></div>
  </div>
  <div class="responsive__video">
    <iframe class="content__embedded-video" id="ytplayer" type="text/html" width="100%" height="100%"
            src="https://www.youtube.com/embed/<%= data.frontpage.video_id %>?autoplay=0&origin=https://www.lucvonmensing.de"
            frameborder="0"></iframe>
  </div>
</div>

<% if false %>
<section class="container">
  <h3 class="section__headline">
    <a class="section__headline--link" href="https://instagram.com/lucvonmensing">
      Folge uns auf Instagram
    </a>
  </h3>
  <div class="instagram">
    <% (1..6).each do |i| %>
        <div class="instagram__entry">
          <a class="content__preload"></a>
        </div>
    <% end %>
  </div>
</section>
<% end %>