---
title: Kontakt - Luc von Mensing
---

<section class="contact">
  <h1 class="section__headline">Kontakt</h1>
  <div class="content-box">
    <div class="content-box__meta">
      <div class="content-box__title events__title">Booking</div>
      <div class="content-box__info events__type"><a href="fuchur.booking@gmail.com">fuchur.booking@gmail.com</a></div>
    </div>
  </div>

  <div class="content-box">
    <div class="content-box__meta">
      <div class="content-box__title events__title">Info</div>
      <div class="content-box__info events__type"><a href="lucvonmensing@gmx.de">lucvonmensing@gmx.de</a></div>
    </div>
  </div>
</section>