---
title: Wir - Luc von Mensing
description: Hier könnt Ihr ein Bisschen was über die Band Luc von Mensing erfahren.
---

<section class="about">
  <h1 class="section__headline">Wir</h1>
  <div class="content-box">
    <div class="content-box__meta">
      <div class="content-box__title events__title"><%= data.wir.subheadline %></div>
      <div class="content-box__info events__type"><%= data.wir.title %></div>
    </div>
    <%= tag :img, :alt => 'Die Band', :src => data.wir.image %>
    <div class="content-box__info">
      <% data.wir.copy.each do |p| %>
          <p class="about__copy"><%= p %></p>
      <% end %>
    </div>
  </div>
</section>